extend layout

block content
        .col-sm-9.text-left
          div(style='text-align: right; padding-top: 25px;')
           a(href='/country_create') Add new
          
          - var count = 1;
          table.table.table-striped
            thead
              tr
                th SlNo
                th country Name
                th Action
                
                        
                          if countrylist
                            each item in countrylist
                             tr
                              td=count
                              td=item.countryname
                      
                              td
                                  a(href='/country_edit/'+item._id) edit
                              td
                                  a(href='/country_delete/'+item._id) delete

                                - count++;
          .col-sm-1
          footer.container-fluid.text-center
            p Footer Text
          
