extend layout

block content
        .col-sm-9.text-left
          .row
            .col-sm-4
            .col-sm-4.text-center
              form(action='/country_create', method='post')
                .form-group
                  .row(style='padding-bottom:15px;')
                    label.control-label.col-sm-2(for='email') Country Name:
                    .col-sm-10
                      input(name='countryname', type='text', required='true')
                  .row(style='padding-bottom:15px;')
                    label.control-label.col-sm-2(for='passord') 
                    .col-sm-10
                      
                  .row
                    .control-label.col-sm-2
                    .col-sm-10
                      input.btn.btn-info(type='submit', value='Create')
             
              p
                strong  #{message}         

            .col-sm-4
        .col-sm-1
    footer.container-fluid.text-center
      p Footer Text
