extend layout

block content
        .col-sm-9.text-left
          .row
            .col-sm-4
            .col-sm-4.text-center
              form(action='/deno_edit', method='post')
                .form-group
                  .row(style='padding-bottom:15px;')
                    label.control-label.col-sm-2(for='email') Amount:
                    .col-sm-10
                      input(name='id', type='hidden', required='true', value=denominationlist)
                      input(name='amount', type='text', required='true', value=denominationlist.amount)
                  .row(style='padding-bottom:15px;')
                    label.control-label.col-sm-2(for='passord') Country:
                    .col-sm-10
                      input(name='countryId', type='text', required='true',value=denominationlist.countryname)
                  .row
                    .control-label.col-sm-2
                    .col-sm-10
                      input.btn.btn-info(type='submit', value='Edit')
            .col-sm-4
        .col-sm-1
    footer.container-fluid.text-center
      p Footer Text
