extends  adminlayout


block content

            .col-sm-9.text-left
              div(style='text-align: right; padding-top: 25px;')
               a(href='/deno_create') Add new
              
              - var count = 1;
              table.table.table-striped
                thead
                  tr
                    th SlNo
                    th Country Name
                    th Denomination value
                    th Action
                    if denominationlist
                        each item in denominationlist
                            tr
                                td=count
                                td=item.countryname
                                td=item.amount
                                td
                                    a(href='/deno_edit/'+item._id) edit
                                td
                                    a(href='/denodelete/'+item._id) delete

                                   - count++;
              .col-sm-1
              footer.container-fluid.text-center
                p Footer Text
          
