doctype html
html(lang='en')
  head
    title Counterfeit Note Detection
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Rubik:400,700', rel='stylesheet')
  link(rel='stylesheet', href='http://localhost:5000/theme/fonts/icomoon/style.css')
  link(rel='stylesheet', href='http://localhost:5000/theme/css/bootstrap.min.css')
  link(rel='stylesheet', href='http://localhost:5000/theme/css/magnific-popup.css')
  link(rel='stylesheet', href='http://localhost:5000/theme/css/jquery-ui.css')
  link(rel='stylesheet', href='http://localhost:5000/theme/css/owl.carousel.min.css')
  link(rel='stylesheet', href='http://localhost:5000/theme/css/owl.theme.default.min.css')
  link(rel='stylesheet', href='http://localhost:5000/theme/css/bootstrap-datepicker.css')
  link(rel='stylesheet', href='http://localhost:5000/theme/fonts/flaticon/font/flaticon.css')
  link(rel='stylesheet', href='http://localhost:5000/theme/css/aos.css')
  link(rel='stylesheet', href='http://localhost:5000/theme/css/rangeslider.css')
  link(rel='stylesheet', href='http://localhost:5000/theme/css/style.css')
  body
    .site-wrap
      .site-mobile-menu
        .site-mobile-menu-header
          .site-mobile-menu-close.mt-3
            span.icon-close2.js-menu-toggle
        .site-mobile-menu-body
      header.site-navbar(role='banner')
        .container
          .row.align-items-center
            .col-11.col-xl-2
              h1.mb-0.site-logo
                a.text-white.h2.mb-0(href='index.html') Counterfeit Note Detection
            .col-12.col-md-10.d-none.d-xl-block
              nav.site-navigation.position-relative.text-right(role='navigation')
                ul.site-menu.js-clone-nav.mr-auto.d-none.d-lg-block
                  li.active
                    a(href='index.html')
                      span Home
                  //
                    <li class="has-children">
                    <a href="about.html"><span>Dropdown</span></a>
                    <ul class="dropdown arrow-top">
                    <li><a href="#">Menu One</a></li>
                    <li><a href="#">Menu Two</a></li>
                    <li><a href="#">Menu Three</a></li>
                    <li class="has-children">
                    <a href="#">Dropdown</a>
                    <ul class="dropdown">
                    <li><a href="#">Menu One</a></li>
                    <li><a href="#">Menu Two</a></li>
                    <li><a href="#">Menu Three</a></li>
                    <li><a href="#">Menu Four</a></li>
                    </ul>
                    </li>
                    </ul>
                    </li>!
                  li
                    a(href='about.html')
                      span About
                  li
                    a(href='contact.html')
                      span Contact
            .d-inline-block.d-xl-none.ml-md-0.mr-auto.py-3(style='position: relative; top: 3px;')
              a.site-menu-toggle.js-menu-toggle.text-white(href='#')
                span.icon-menu.h3
    .site-blocks-cover.overlay(style='background-image: url(http://localhost:5000/theme/images/hero_1.jpg);', data-aos='fade', data-stellar-background-ratio='0.5')
      .container
        .row.align-items-center.justify-content-center.text-center
          .col-md-10
            .row.justify-content-center.mb-4
              .col-md-10.text-center
                h1(data-aos='fade-up')
                  | Help people to find 
                  span.typed-words
            .form-search-wrap.p-2(data-aos='fade-up', data-aos-delay='200')
              form(method='post' action='/homepage')
                .row.align-items-center
                  .col-lg-12.col-xl-10.no-sm-border.border-right
                    input.form-control(type='text', id="search-box", name="countryname"  placeholder='What are you looking for?')
                  
                    
                     
                  .col-lg-12.col-xl-2.ml-auto.text-right
                    input.btn.text-white.btn-primary(type='submit', value='Search')
    .site-section(data-aos='fade')
      .container
        .row.justify-content-center.mb-5
          .col-md-7.text-center.border-primary
            h2.font-weight-light.text-primary Currency List
            p.color-black-opacity-5
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .row
          -for(i=0;i<notelist.length;i++){
            .col-md-6.mb-4.mb-lg-4.col-lg-4
                .listing-item
                  .listing-image
                      img.img-fluid(src='http://localhost:5000/uploads/#{notelist[i].homeimage}', alt='Free Website Template by Free-Template.co')
                  .listing-item-content
                      
                      
                      a.px-3.mb-3.category(href='/note_detail_view/'+notelist[i]._id) View details
          -}
    .py-5.bg-primary
      .container
    footer.site-footer
      .container(text-align='center')
        .row
          .col-md-9
            .row
              .col-md-6.mb-5.mb-lg-0.col-lg-3
                h2.footer-heading.mb-4 Features
                ul.list-unstyled
                  li
                    a(href='#') About Us
                  li
                    a(href='#') Services
                  li
                    a(href='#') Contact Us
              .col-md-6.mb-5.mb-lg-0.col-lg-3
                h2.footer-heading.mb-4 Follow Us
                a.pl-0.pr-3(href='#')
                  span.icon-facebook
                a.pl-3.pr-3(href='#')
                  span.icon-twitter
                a.pl-3.pr-3(href='#')
                  span.icon-instagram
                a.pl-3.pr-3(href='#')
                  span.icon-linkedin
          script(src='http://localhost:5000/theme/js/jquery-3.3.1.min.js')
          script(src='http://localhost:5000/theme/js/jquery-migrate-3.0.1.min.js')
          script(src='http://localhost:5000/theme/js/jquery-ui.js')
          script(src='http://localhost:5000/theme/js/popper.min.js')
          script(src='http://localhost:5000/theme/js/bootstrap.min.js')
          script(src='http://localhost:5000/theme/js/owl.carousel.min.js')
          script(src='http://localhost:5000/theme/js/jquery.stellar.min.js')
          script(src='http://localhost:5000/theme/js/jquery.countdown.min.js')
          script(src='http://localhost:5000/theme/js/jquery.magnific-popup.min.js')
          script(src='http://localhost:5000/theme/js/bootstrap-datepicker.min.js')
          script(src='http://localhost:5000/theme/js/aos.js')
          script(src='http://localhost:5000/theme/js/rangeslider.min.js')
          script(src='http://localhost:5000/theme/js/typed.js')
          script.
            $(document).ready(function(){
            $("#search-box").keyup(function(){
              if($(this).val().length>=3)
              {
                  $.ajax({
                  type: "get",
                  url: "readCountry?searchterm="+$(this).val(),
                  beforeSend: function(){
                  //  alert("ee");
                  $("#search-box").css("background","#FFF url(LoaderIcon.gif) no-repeat 165px");
                  },
                  success: function(data){
                    console.log(data);
                    $('#search-box').val(data);
                  $("#suggesstion-box").show();
                  $("#suggesstion-box").html(data);
                  $("#search-box").css("background","#FFF");
                  }
                  });
             }
            });
            
            });
            function selectCountry(val) {
            $("#search-box").val(val);
            $("#suggesstion-box").hide();
            }

          
          script.
            var typed = new Typed('.typed-words', {
            strings: ["Fair currencies in India"," All Currencies"," Counterfeit money", "Fraud detection"],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
            });
          script(src='http://localhost:5000/theme/js/main.js')
