extend layout

block content
        .col-sm-9.text-left
          .row
            .col-sm-4
            .col-sm-4.text-center
              form(action='/select_denomination_note', method='post')
                .form-group
                  .row(style='padding-bottom:15px;')
                    label.control-label.col-sm-2(for='email') 
                    .col-sm-10
                      input(name='id', type='hidden', required='true')
                  .row(style='padding-bottom:15px;')
                    label.control-label.col-sm-2(for='passord') Select Denomination:
                    .col-sm-10
                    if denominationlist
                     select(id ="country" name="amt")
                       each item in denominationlist
                        option(value=item._id) #{item. amount}
                    else
                      select(id ="amount" name="amt")
                        option(value="") NO VALUE
                            

                  .row
                    .control-label.col-sm-2
                    .col-sm-10
                      input.btn.btn-info(type='submit', value='Next')
            .col-sm-4
        .col-sm-1
    footer.container-fluid.text-center
      p Footer Text
